.box-decore {
  margin-top: 55px;
  padding: 25px;    
  box-shadow: 1px 1px 15px -4px rgba(0,0,0,.2);
}
body{
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.__7G9mOhxmWIJXDJbVAV9QHaDt%26pid%3DApi&f=1');
  background-position: center center;
  background-repeat: no-repeat;
}